*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: #f2f2f2;
}
#container {
    width: 400px;
    margin: 100px auto;
    background-color: white;
    padding: 25px;
    border-radius: 10px;
    box-shadow: 0 5px 15px;
}
h1{
    text-align: center;
    margin-bottom: 20px;
}
#addList{
   display: flex;
   gap: 10px; 
}
input {
    flex: 1;
    padding: 6px;
    font-size: 18px;
}
button {
    padding: 10px 15px;
    border: none;
    cursor: pointer;
    border-radius: 25px;
}
#addBtn{
    background-color: rgb(241, 96, 96);
}
ul{
    list-style: none;
    margin-top: 20px;
}
li{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #eee;
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 5px;
}
.completed{
    text-decoration: line-through;
    opacity: 0.5;
}
.completeBtn {
    background-color: orange;
    color: white;
    margin-left: auto;
}
.deleteBtn{
    background-color: red;
    color: white;
    margin-left: 8px;
}